.container{
  width: 70%;
  height: auto;
  margin: 15%;
  background-color: green;
  border: 1px solid black;
/*     position: relative; */
}
.heading{
  color: white;
  background-color:black;
  text-align: center;
}
.display-container{
  width: 95%;
  height: 50px;
/*     padding: 10px; */
  margin:1% auto;
  background-color: white;
  border: 1px solid red;
  border-radius: 10px;
}
.keypad{
  
}
.row1{
  width: 95%;
  background-color: white;
  border: 1px solid red;
  margin: 2px auto;
  display: flex;
}
.row1 > div{
  width: 25%;
  text-align: center;
  border: 1px solid red;
  
}
.row1 > .zero{
  width: 50%;
}
.bc{
  background-color: brown;
  color: white;
}